   <section class="bg-slate-100">

       
       <form name="contact" method="post" data-netlify="true" class="container mx-auto xl:px-0 py-32 rounded" id="contact">
           
           <h2 class="text-center text-2xl font-bold heading uppercase">Let's Talk</h2>
           
           <div class="max-w-lg mx-auto flex flex-col gap-4 px-12">
            
               <div>
                   <label for="name" class="block mb-2 font-semibold text-slate-500">Name</label>
                   <input type="text" id="name" placeholder="E.g. John Doe" name="name" class="w-full ring-gray-200 rounded py-2 px-8 outline-0 ring-2 focus:ring-blue-600 transition-all duration-300" required>
                </div>
                <div>
                    <label for="email" class="block mb-2 font-semibold text-slate-500">Email</label>
                    <input type="email" id="email" placeholder="E.g. john@gmail.com" name="email" class="w-full ring-gray-200 rounded py-2 px-8 outline-0 ring-2 focus:ring-blue-600 transition-all duration-300" required>
                </div>
                <div>
                    <label for="message" class="block mb-2 font-semibold text-slate-500">Message</label>
                    <textarea name="message" id="message" rows="6" placeholder="Type your message......" class="w-full ring-gray-200 rounded py-2 px-8 outline-0 ring-2 focus:ring-blue-600 transition-all duration-300" required></textarea>
                </div>
                
                <button class="bg-slate-300 block rounded font-semibold py-3 btn-primary" type="submit">Send</button>
            </div>
        </form>
    </section>

<style>


    .btn-primary {
            background-image: linear-gradient(-45deg, #2563EB, #7C3AED);
            color: #fff;

    }
</style>