<header class=" sticky top-0 z-50 bg-white shadow-sm">
    <div class="container mx-auto flex justify-between py-2 items-center px-8 md:px-0 flex-wrap">
        <a href="/">
            <img src="logo.svg" alt="My Logo" class="h-8">
        </a>
        
        <div class="md:hidden mt-2" id="nav-toggle">
            <box-icon name='menu' class="size-8"></box-icon>
        </div>

        <ul class="hidden w-full bg-slate-100 gap-8 font-medium text-sm text-slate-600 uppercase transition-colors rounded my-2 py-4 md:flex md:w-auto md:py-0 md:yy-0 md:bg-transparent" id="nav">
            <li><a href="/#body" class="hover:text-slate-900 text-center block py-2">Home</a></li>
            <li><a href="/#projects" class="hover:text-slate-900 text-center block py-2">Projects</a></li>
            <li><a href="/Omkar_Rahi_Resume.pdf" class="hover:text-slatee-900 text-center block py-2" download>Resume</a></li>
            <li><a href="/#contact" class="hover:text-slate-900 text-center block py-2">Let's talk</a></li>
        </ul>


    </div>
</header>