<header class=" sticky top-0 z-50 bg-white shadow-sm">
    <div class="container mx-auto flex justify-between py-4 items-center px-8 md:px-0">
        <img src="logo.svg" alt="My Logo" class="h-8">
    
        <nav class="hidden md:block ">
            <ul class="flex gap-8 font-medium text-sm text-slate-600 uppercase transition-colors">
                <li><a href="/#body" class="hover:text-slate-900">Home</a></li>
                <li><a href="/#projects" class="hover:text-slate-900">Projects</a></li>
                <li><a href="/Omkar_Rahi_Resume.pdf" class="hover:text-slatee-900" download>Resume</a></li>
                <li><a href="/#contact" class="hover:text-slate-900">Let's talk</a></li>
            </ul>
        </nav>

        <button class="md:hidden">Menu</button>
    </div>
</header>