<section id="hero">
    <div class="container mx-auto text-white pt-44 flex flex-col items-center px-8 lg:px-0">
        <span class="font-bold uppercase">Hi, I'm Omkar Rahi</span>
        <h2 class="lg:text-4xl font-bold text-center text-2xl">A Full-Stack Developer specializing in creating  robust web applications.</h2>
        <p class="my-2 text-center">I turn ideas into reality with clean code and modern technologies.</p>

        <div class="flex gap-4 mt-4">
            <a href="https://github.com/omk-rahi" target="_blank" rel="noopener noreferrer"><box-icon type='logo' name='github' class="fill-white size-8"></box-icon></a>
            <a href="https://www.linkedin.com/in/omk-rahi" target="_blank" rel="noopener noreferrer"><box-icon name='linkedin-square' type='logo' class="fill-white size-8"></box-icon></a>
            <a href="https://www.instagram.com/omk_rahi/" target="_blank" rel="noopener noreferrer"><box-icon name='instagram' type='logo'  class="fill-white size-8"></box-icon></a>
        </div>

        <div class="flex gap-4 my-6">
            <a href="/Omkar_Rahi_Resume.pdf" class="px-6 py-3  rounded font-medium uppercase border-2 flex justify-center items-center gap-2 text-sm hover:bg-white hover:border-transparent hover:text-gray-900 transition-all duration-300 fill-white hover:fill-gray-900" download>
                <span>Resume</span>
                <box-icon name='down-arrow-alt'></box-icon>
            </a>
            <a href="#contact" class=" px-6 py-3  rounded font-medium uppercase bg-white text-gray-900 flex justify-center items-center gap-2 text-sm btn-primary transition-all duration-300">
                <span>Let's Talk</span>
                <box-icon name='right-arrow-alt' ></box-icon>
            </a>
        </div>
    </div>
    
</section>

<style>

section {
    position: relative;
    background-image: linear-gradient(-45deg, #2563EB, #7C3AED);
    height: 75vh;
}

.btn-primary:hover {
    box-shadow: .4rem .4rem  rgba(255,255,255,.4);
    transform: translate(-.2rem, -.2rem);
}

</style>