---
import ProjectCard from '../components/ProjectCard.astro';

import projects from '../data/projects.json';

---
<section class="bg-slate-100 py-8" id="projects">

    <h2 class="text-center text-2xl font-bold uppercase text-white">My Projects</h2>

    <div class="container px-8 grid grid-cols-1 gap-8 my-8 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 mx-auto xl:px-0">
      {projects.map(project => <ProjectCard info={project}/>)}
    </div>

    <div class="flex justify-center text-white">
        <a href="/projects" class="inline-flex justify-center items-center gap-2 font-semibold border-b-2 border-white py-1">
            <span>See more</span>
            <box-icon name='right-arrow-alt' class="fill-white"></box-icon>
        </a>
    </div>
</section>

<style>
    section {
    position: relative;
    background-image: linear-gradient(-45deg, #2563EB, #7C3AED);
}
</style>