<div class="bg-white px-8 py-6 rounded shadow-md">
    <img src="/mockups/mockup.png" alt="Project image" class="rounded">

    <div class="mt-2">
        <h2 class="text-xl font-bold text-slate-700">QuickBites</h2>
        <h3 class="font-semibold text-slate-500">A online food delivery website</h3>
        <p class="text-gray-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto hic laboriosam earum officiis non numquam. Molestiae sit deserunt impedit optio?</p>
    </div>

    <div class="flex gap-4 mt-2">
        <a href="/" class="flex justify-center items-center gap-2 link transition-all duration-200 border-b-2 border-transparent hover:border-gray-900 py-1">
            <span>Read more</span>
            <box-icon name='right-arrow-alt'></box-icon>
        </a>
        <a href="/" class="flex justify-center items-center gap-2 link transition-all duration-200 border-b-2 border-transparent hover:border-gray-900 py-1">
            <span>Live demo</span>
            <box-icon name='link-external'></box-icon>
        </a>
    </div>
</div>